<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/fontawesome/font-awesome.css" rel="stylesheet">
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style>
        form{
            width:300px;

            margin-top:300px;
            margin-bottom:0px;
            margin-left:auto;
            margin-right:auto;
            padding:30px;
            border:1px solid #e38d13;

        }
    </style>
    <script>
        $(function(){

        })
    </script>
</head>
<body>
<form role="form" action="enter" method="post">
    <div class="input-group">
        <input name="id" type="text" class="form-control">
        <span class="input-group-addon">用户名</span>
    </div>
    <br>
    <div class="input-group">
        <input  type="text" class="form-control">
        <span class="input-group-addon">密码</span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">登陆</button>
</form>
</body>
</html>